<table style="font:0.8em/1.8 Arial, Helvetica, sans-serif;margin:0 auto!important; width:650px;" border="0" cellpadding="0" cellspacing="0">
	<thead>
    	<tr>
			<th style="background:#252525;text-align:center;padding:0.95em;" width="100%" cellpadding="0" cellspacing="0" colspan="2">
            <p style="color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:normal;line-height:1em;margin:0;padding:0;text-align:left;">
           			<img alt="Phone icon" src="http://super2.herokuapp.com/assets/mini-phone.png" style="margin:0 0.3em 0 0;" />
                    <span style="color:#ffffff;font-size:1em;line-height: 0.85em;text-decoration:none;">Call us</span>
					<a style="color:#ec4445;font-size:1em;line-height:0.85em;margin:0 0.2em 0 0;text-decoration:none;" href="tel:872134253">872134253</a>
				</p>
			</th>
		</tr>
		<tr>
			<th style="border-left:1px solid #ececec;text-align:left;padding:2.5em 2.1em 0.5em 2.1em;" width="300" cellpadding="0" cellspacing="0">
				<a style="float:left;text-decoration:none;width:auto:" href="http://super2.herokuapp.com/">
					<img style="width:14.2em;" src="http://super2.herokuapp.com/assets/store/logo-6988bdbe22f6c2fc1deded6614302a50.png" alt="Stationery Supplies" />
				</a>
			</th>
			<th style="border-right:1px solid #ececec;text-align:right;padding:1.7em 0.8em 0.5em 0.8em;" width="500" cellpadding="0" cellspacing="0">&nbsp;</th>
		</tr>
	</thead>
    
	<tbody>
		<tr>
			<td style="border-left:1px solid #ececec;">&nbsp;</td>
			<td style="border-right:1px solid #ececec;">&nbsp;</td>
		</tr>		
		<tr>
			<td style="border-left:1px solid #ececec;">&nbsp;</td>
			<td style="border-right:1px solid #ececec;">&nbsp;</td>
		</tr>
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;text-align:left;" cellpadding="0" cellspacing="0" colspan="2">
				<p style="color:#ec4445;font-family:Georgia,Times New Roman,Serif;font-size:2.6em;font-style:italic;line-height:1em;margin:0;padding:0.5em 0.8em 0.5em 0.8em;text-align:center;">Thank You For Your Order!</p>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:2em;" colspan="2" width="100" valign="top">
				<p style="background:#fbfbfb;border-top:1px solid #c4c4c4;color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0;padding:2em 0 0 0;text-align:center;">
					<span style="font-weight:bold;">Reference number: </span>
				</p>
				<p style="background:#fbfbfb;color:#777777;margin:0;padding:0 0 2em 0;text-align:center;">
					<span>@our_ref@</span>				
				</p>

				<p style="background:#fbfbfb;color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0;padding:0;text-align:center;">
					<span style="font-weight:bold;">Your reference number: </span>
				</p>
				<p style="background:#fbfbfb;border-bottom:1px solid #c4c4c4;color:#777777;margin:0;padding:0 0 2em 0;text-align:center;">
					<span>@your_ref@</span>
				</p>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:2em 2em 0 2em;" colspan="2" width="700" valign="top">
				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">Dear @contact@,</p>

				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">Here is your order summary email.</p>

				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0 0 1em 0;">Thank you for your order, the items orders and delivery address and listed below, please contact us if you require any changes to be made to the items or the delivery address.</p>
			</td>			
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;" colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 4em 1em 4em;" colspan="2" width="800" valign="top">
				<p style="color:#ec4445;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;font-weight:bold;margin:0;text-transform:uppercase;">Order placed</p>
				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;margin:0 0 1em 0;">@datetime@</p>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 4em 1em 4em;" colspan="2" width="800" valign="top">
				<p style="color:#ec4445;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;font-weight:bold;margin:0;text-transform:uppercase;">Delivery address</p>
				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;margin:0 0 1em 0;">@delivery@</p>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 4em 1em 4em;" colspan="2" width="800" valign="top">
				<p style="color:#ec4445;font-family:Arial, Helvetica, sans-serif;font-size:0.9em;font-weight:bold;margin:0;text-transform:uppercase;">Order purchase</p>
				<span style="color:#777777;font-family:Arial, Helvetica, sans-serif;float:left;font-size:0.9em;margin:0;width:100%;">@tlines@</span>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 4em;" colspan="2" width="800" valign="top">
				<table style="border-top:3px solid #555150;width:auto;" align="left" border="0" cellpadding="0" cellspacing="0">
					<tr style="border-top:1px solid #555150;float:left;margin:0.1em 0 0 0!important;width:100%;">
						<td>
							<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:0.75em;margin:0.5em 0 1em 0;">
								<span style="float:left;font-weight:bold;margin:0 1em 0 0!important;min-width:5em;width:auto;">Sub Total: </span>
								<span>@total@</span>
							</p>
							<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:0.75em;margin:0 0 1em 0;">
								<span style="float:left;font-weight:bold;margin:0 1em 0 0!important;min-width:5em;width:auto;">Vat: </span>
								<span>@vat@</span>
							</p>
							<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:0.75em;margin:0;">
								<span style="float:left;font-weight:bold;margin:0 1em 0 0!important;min-width:5em;width:auto;">Total: </span>
								<span>@incvat@</span>
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;" colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="border-left:1px solid #ececec;border-right:1px solid #ececec;" colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="border-bottom:1px solid #ececec;border-left:1px solid #ececec;border-right:1px solid #ececec;padding:0 2em 2em 2em;" colspan="2" width="800" valign="top">
				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;margin:0;">Thank you for your purchase,</p>
				<p style="color:#777777;font-family:Arial, Helvetica, sans-serif;font-size:1em;font-weight:bold;margin:0!important;">Stationery Store</p>
			</td>
		</tr>
	</tbody>
	
	<tfoot>
		<tr>
			<td style="background:#252525;color:#a7a7a7;font-size:1em;padding:1.55em 2em;vertical-align:top;width:55%;">
				<img alt="Logo" src="http://super2.herokuapp.com/assets/store/logo-grey.png" />
			</td>
            <td style="background:#252525;color:#a7a7a7;font-size:1em;padding:1.55em 2em;width:45%;">
				<h3 style="border-bottom:2px solid #747474;color:#f2f2f4;text-transform:uppercase;">Contact</h3>
                <table>
                	<tr>
                    	<td style="padding:0 0 1em 0;">
                        	<img alt="Address icon" src="http://super2.herokuapp.com/assets/address-circle-icon.png" />
						</td>
                        <td style="font-size:1em;padding:0 0 1em 0.7em;">
                        	<span style="color:#a7a7a7;font-size:0.85em;">test address1, test address2, test address3</span>
						</td>
                    </tr>
                    <tr>
                    	<td style="padding:0 0 1em 0;">
                        	<img alt="Phone icon" src="http://super2.herokuapp.com/assets/phone-circle-icon.png" />
						</td>
                        <td style="font-size:1em;padding:0 0 1em 0.7em;">
                        	<a href="tel:872134253" style="color:#a7a7a7;font-size:0.85em;text-decoration:none;">872134253</a>
						</td>
                    </tr>
                    <tr>
                    	<td style="padding:0 0 1em 0;">
                        	<img alt="Email icon" src="http://super2.herokuapp.com/assets/email-circle-icon.png" />
						</td>
                        <td style="font-size:1em;padding:0 0 1em 0.7em;">
                        	<a href="mailto:test@test.com" style="color:#a7a7a7;font-size:0.85em;text-decoration:none;">test@test.com</a>
						</td>
                    </tr>
                </table>
			</td>
		</tr>
        <tr>
			<td style="background:#252525;border-top:1px solid #5b5b5b;color:#a7a7a7;font-size:1em;padding:1.55em 2em;" colspan="2">
				<span>&copy; 2016 Stationery Store. All Rights Reserved.</span>
			</td>
		</tr>
	</tfoot>
</table>