@media screen and (min-device-width:320px) and (max-device-width:400px){
	.container{
		width:320px;
		}
		#header .header-top .phone,
		nav#top-nav-bar{
		    margin:0;
		    padding:0 0.95em 0.5em 0.95em;
		    text-align:center;
		    width:90.3%;
			}
			#header .header-top .phone I{
			    display:inline-block;
			    float:none;
			    margin:0 0.3em 0 0;
				}
			#header .header-top .phone P{
			    display:inline-block;
			    float:none;
				}
			#header .header-top .phone A,
			#header .header-top .phone A:hover{
			    display:inline-block;
			    float:none;
				}
		nav#top-nav-bar{
			padding:0 0.95em;
			}
			nav#top-nav-bar UL{
				text-align:center;
				}
				nav#top-nav-bar UL LI{
				    display:inline-block;
				    float:none;
					}
		#header .header-bottom{
		    padding:1.5em 0 0.5em 0;
			}
			#header .header-bottom FIGURE{
			    margin:0!important;
			    text-align:center;
				width:90.5%!important;
				}
				#header .header-bottom FIGURE A,
				#header .header-bottom FIGURE A IMG{
				    float:none;
					}
			#header .right-header-bottom{
			    padding:0 0.95em;
				}
				#search-bar {
				    float:right;
					}
					#search-bar .select-style{
						display:none;
						}
		#main-menu{
			background:#ec4445;
		    margin:0 0.95em;
		    width:90.9%;
		    }
		    #main-menu .container{
			    width:300px;
				}
				#main-menu NAV{
					padding:0.55em 0;
				    text-align:center;
					}
					#main-menu NAV A#offcanvas-toggler{
					    float:none;
					    padding:0;
						}
						#main-menu NAV A#offcanvas-toggler:hover{
						    color:#ffffff;
							}
						#main-menu NAV A#offcanvas-toggler I{
						    font-size:1.5em;
							}
					#main-menu NAV UL{
						display:none;
						}

}