<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">
		<div class="main-footer">
			<div id="top-footerContent">
				<div class="left-footerContent">
					<h3>Information</h3>
					<div id="footer-right" class="columns omega eight" data-hook>
						
					</div>
				</div>

				<div class="right-footerContent">
					<div class="left-fc">
						<h3>Contact</h3>
						<ul>
		   
		                  <li>
		                     <i class="fa fa-building">&nbsp;</i>
		                     <span>Premier Business Centre, 3013 Lake Drive Citywest Business Campus, Dublin 24</span>
		                  </li>
		   
		                  <li>
		                     <i class="fa fa-mobile">&nbsp;</i>
		                     <span>
		                     		<a href="tel:0035314361847">+353 1 4361847</a>
		                     </span>
		                  </li>
		   
		                  <li>
		                     <i class="fa fa-at">&nbsp;</i>
		                     <span>
		                        <a href="mailto:info@supportsolutions.ie">info@supportsolutions.ie</a>
		                     </span>
		                  </li>

		               </ul>
					</div>

					<div class="right-fc">
						<h3>Newsletter</h3>
						<form id="contact_newsletter" class="form-horizontal">
							<fieldset id="fieldNewsletter">						
								<div> 
									<label for="email">Email</label>
									<input id="email-newsletter" name="email-newsletter" type="email" value="" placeholder="Enter your e-mail..." required="">
								</div>
									 
								<div class="button">
									<input id="submit" type="submit" value="">
								</div>
							</fieldset>
						</form>

						<div class="social">
							<ul>
								<li>
									<a href="https://www.facebook.com/office.products.software" target="_blank">
										<img src="/assets/facebook-icon.png" onmouseout="this.src='/assets/facebook-icon.png'" onmouseover="this.src='/assets/facebook-iconHover.png'" alt="Facebook Icon">
									</a>
								</li>

								<li>	
									<a href="https://twitter.com/Suptsolution" target="_blank">
										<img src="/assets/twitter-icon.png" onmouseout="this.src='/assets/twitter-icon.png'" onmouseover="this.src='/assets/twitter-iconHover.png'" alt="Twitter Icon">
									</a>
								</li>

								<li>	
									<a href="https://www.linkedin.com/company/support-solutions" target="_blank">
										<img src="/assets/linkedin-icon.png" onmouseout="this.src='/assets/linkedin-icon.png'" onmouseover="this.src='/assets/linkedin-iconHover.png'" alt="LinkedIn Icon">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--#top-footerContent-->

			<div id="bottom-footerContent" data-hook>
				<p><%= Spree.t :powered_by  %> <%= link_to ' 39Bots', 'http://google.com/' %></p>
			</div><!--#bottom-footerContent-->
		</div><!--.main-footer-->
	</div>
</footer>