<div class="offcanvas-menu">
	<a class="close-offcanvas" href="#">
		<i class="fa fa-remove"></i>
	</a>
	<div class="offcanvas-inner">
		<div class="sp-module">
			<div class="sp-module-title">
				<h3>
					<span>Menus Offcanvas</span>
				</h3>
			</div>
			<div class="sp-module-content">
				<%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
			</div>
			<script type="text/javascript">jQuery("#vina-treeview-menus112 ul.level0").treeview({animated:"normal",persist:"cookie",collapsed:true,unique:false,});</script>
		</div>
	</div>
</div>